.hint{
    color:darkgrey;
}
.new-comment{
    box-shadow: 0 -1px 3px rgb(26 26 26 / 10%);
    padding: 20px;
    margin-top: 20px;
    display: flex;

}
.mdui-card {
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 8px;
    padding: 2%;
}